@media(min-width: 768px){
  .container > .navbar-header, .container-fluid > .navbar-header {
    margin-left: -15px;
  }
}

.x-navbar-right {
  float: right;
  margin-right: 15px;
}

.x-navbar-left {
  float: left;
  margin-left: 15px;
}